{% extends 'admin/layout.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<h2>Accounts</h2>

<div class="links">
    <a href="{{ url_for('admin_account') }}">Create Account</a>
</div>

<div class="content-block">
    <div class="table">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Username</td>
                    <td class="responsive-hidden">Password</td>
                    <td class="responsive-hidden">Email</td>
                    <td class="responsive-hidden">Activation Code</td>
                    <td class="responsive-hidden">Role</td>
                </tr>
            </thead>
            <tbody>
                {% if not accounts %}
                <tr>
                    <td colspan="8" style="text-align:center;">There are no accounts</td>
                </tr>
                {% else %}
                {% for account in accounts %}
                <tr class="details" onclick="location.href='{{ url_for('admin_account', id=account['id']) }}'">
                    <td>{{ account['id'] }}</td>
                    <td>{{ account['username'] }}</td>
                    <td class="responsive-hidden" style="word-break:break-all;">{{ account['password'] }}</td>
                    <td class="responsive-hidden">{{ account['email'] }}</td>
                    <td class="responsive-hidden">{{ account['activation_code'] }}</td>
                    <td class="responsive-hidden">{{ account['role'] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
