{% extends 'admin/layout.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<h2>{{ page }} Account</h2>

<div class="content-block">
    <form action="" method="post" class="form responsive-width-100">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username" value="{{ account['username'] }}" required>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Password" value="{{ account['password'] }}" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" value="{{ account['email'] }}" required>
        <label for="activation_code">Activation Code</label>
        <input type="text" id="activation_code" name="activation_code" placeholder="Activation Code" value="{{ account['activation_code'] }}">
        <label for="rememberme">Remember Me Code</label>
        <input type="text" id="rememberme" name="rememberme" placeholder="Remember Me Code" value="{{ account['rememberme'] }}">
        <label for="role">Role</label>
        <select id="role" name="role" style="margin-bottom: 30px;">
            {% for role in roles %}
            <option value="{{ role }}"{{ ' selected' if account['role'] == role else '' }}>{{ role }}</option>
            {% endfor %}
        </select>
        <div class="submit-btns">
            <input type="submit" name="submit" value="Submit">
            {% if page == 'Edit' %}
            <input type="submit" name="delete" value="Delete" class="delete">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
