{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td>{{ account['role'] }}</td>
        </tr>
    </table>
    <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
</div>
{% endblock %}
